
.paper {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 1em;
}

form {
    width: 100%;
    margin-top: 1em;
}

.submitBtn {
    margin: 3px 0 2px;
}
