

.formControl {
    width: 100%;
    margin-top: 3em;
    text-align: center;
}

.paper {
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imageUpload > input
{
    display: none;
}

.imageUpload img
{
    width: 80px;
    cursor: pointer;
}